.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.resume-form {
  width: 50%;
  height: 100%;
  padding: 2rem;
  background-color: white;
}

.resume-preview {
  width: 50%;
  height: 100%;
  background-color: var(--extra-light-color);
}

.resume-form .section {
  padding: 1rem;
}

.resume-form .section .section-header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .resume-form,
  .resume-preview {
    width: 100%;
  }
}
