.container {
  height: calc(100vh - 50px);
  width: 100%;
  position: relative;
}

.resume-container {
  display: flex;
}

.resume-form {
  width: 50%;
  height: 100%;
  background-color: white;
  position: relative;
}

.resume-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: var(--extra-light-color);
  position: relative;
}

.form-section {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  padding: 2rem;
}

.form-section::-webkit-scrollbar {
  width: 8px;
  position: absolute;
  right: -10px;
}

.form-section::-webkit-scrollbar-track {
  border-radius: 7px;
}

.form-section::-webkit-scrollbar-thumb {
  background-color: var(----primary-color-opacity-light);
  border-radius: 7px;
}

.resume-form .section {
  padding: 1rem;
}

.resume-form .section .section-header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .resume-form,
  .resume-preview {
    width: 100%;
  }

  .resume-preview {
    display: none;
  }

  .form-section {
    padding: 1rem;
  }
}
