.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--extra-light-color);
  display: flex;
  align-items: center;
}

.leading-container {
  height: 100%;
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-around;
}

.leading-action-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}

.leading-action-container h1 {
  font-size: 3em;
  width: 80%;
  color: var(--dark-color);
  margin-bottom: 1rem;
}

.leading-action-container h1 span {
  color: var(--primary-color);
  text-decoration: underline;
}

.leading-action-container button {
  width: 50%;
  margin: 1rem 0rem;
  font-weight: 600;
  padding: 0.8rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.leading-img-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leading-img-container img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  height: fit-content;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .leading-container {
    flex-direction: column;
  }
  .leading-action-container {
    align-items: center;
    flex: 0;
  }
  .leading-action-container h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }
  .leading-action-container button {
    width: 70%;
  }
  .leading-img-container {
    flex: 0;
  }
}
