.profile-upload-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.profile-upload-container div {
  display: flex;
  align-items: center;
}

.profile-upload-container svg {
  color: var(--dark-color);
  margin-left: 1rem;
  font-size: large;
  cursor: pointer;
}

.profile-preview p {
  margin-left: 1rem;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.profile-image img {
  border-radius: 50%;
  object-fit: cover;
}

#profile-input {
  display: none;
}

@media screen and (max-width: 480px) {
  .profile-upload-container {
    flex-direction: column;
  }
}
