.container {
  max-width: 1305px;
  margin: 0 auto;
  padding: 20px;
}

.resumeHeader {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.resumeHeader h1 {
  color: var(--primary-color);
}

.resumeActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resumeActions button {
  margin-right: 0.5rem;
}
.resumeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.resumeCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.resumeTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.resumeDescription {
  font-size: 16px;
  color: #777;
}

.noresumesection {
  width: 100%;
  height: 60vh;
  text-align: center;
  color: var(--light-color);
}
.noresumesection img {
  opacity: 0.8;
}

hr {
  margin: 10px 0;
}

@media screen and (max-width: 480px) {
  .resumeActions {
    flex-direction: column;
  }
  .resumeActions > * {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .resumeHeader h1 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .resumeList {
    justify-content: space-around;
  }
}
